:root{
    --black-background: rgba(0,0,0,1);
    --grey-background:rgb(16, 16, 16);
}

@font-face{
    font-family: "PTSerif";
    src: url(/fonts/PTSerif-Regular.ttf);
}

a{
    text-decoration: none;
}

.header{
    background-image: url(../media/header/bgr-header.png)   ;
    background-position: center;
    background-size: cover;
    height: 700px;
}

/*Colors*/

.bgr-black{
    background-color: var(--black-background)!important;
}

.bgr-grey{
    background-color: var(--grey-background)!important;
}


/*icons*/
.siz-icon{
    width: 20px;
    height: 20px;
}

/*logo*/
.img-logo{
    height: 90px;
}

/*fonts*/
.font-serif{
    font-family: "PTSerif";
}

/*font size*/
.fts-50{
    font-size: 80px;
}

/* Main */
/* carousel */
.w-18-h350{
    width: 90%;
    height: 90%;
}

/*img */
.img-bandw-r{
    filter: grayscale(100%);
    border-radius: 60px;
    transition-duration: 0.6s;
    
}

.img-bandw-r:hover{
    filter: grayscale(0%);
    border-radius: 1px;
    transform: scale(1.02);
}

/*margin for containers*/
.mb-100{
    margin-bottom: 100px !important;
}

/*Description */
.list-without{
    list-style: none;
}

