:root{
    --black-background: rgba(0,0,0,1);
}

@font-face{
    font-family: "PTSerif";
    src: url(/fonts/PTSerif-Regular.ttf);
}

.img-banner{
    background: linear-gradient( to right, rgba(0,0,0,1)10%, transparent), 
    url(/media/header/bgr-header.jpg);
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 60vh;   
}

.bgr-black{
    background-color: var(--black-background)!important;
}

.img-logo{
    height: 80px;
}

.font-serif{
    font-family: "PTSerif";
}

.fts-50{
    font-size: 80px;
}